<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AOL_MCS"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <!-- LoginPage (New Entry Point) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- com.example.aol_mcs.com.example.aol_mcs.com.example.aol_mcs.com.example.aol_mcs.MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- com.example.aol_mcs.RegisterActivity -->
        <activity android:name=".RegisterActivity" />

        <!-- ProfileActivity -->
        <activity android:name=".ProfileActivity" />

        <activity android:name=".TransactionActivity" />

        <activity android:name=".DollDetailActivity">

        </activity>

    </application>

</manifest>

